.df{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dfa{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ziti{
    font-size: 18px;
}
.pa{
    padding: 10px 10px;
}